

@media(max-width: 1200px) {
.header-img{
height: 150px !important;
}
.section-block{
    width: 100% !important;
    min-width: 300px !important;
    margin-bottom: 50px !important;
}
.gallery-inner{
    flex-wrap: wrap;
    justify-content: center !important;
}
.gallery-item{
        margin-bottom: 30px;
    }
    .h2-mob{
        display: block !important;
    }
    .h2-dt{
        display: none !important;
    }
.contact-block{
    padding-top: 0 !important;
}
}

@media(max-width: 900px){
    .section-content{
        padding-top: 0 !important;
    }
    .header-content{
        flex-wrap: wrap;
        justify-content: center !important;
        text-align: center !important;
        &-block h2 {
            margin-bottom: 0 !important;
        }
        

    }
    .header-btn-block{
        & :not(:first-child){
            padding-left: 100px !important;
        }
    }
    .gallery{
        & .wrapper {
            & h2 {
                text-align: center !important;
            }
        }
    }
}

@media(max-width: 780px) {
.team{
    & .wrapper h2{
        text-align: center;
    }
    &-inner{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    &-item{
        width: 100% !important;
        padding-bottom: 30px;
        &:not(:first-child){
            padding-left: 0px !important;
        }
    }
}
}

@media(max-width: 700px) {
}


@media(max-width: 610px) {
    .slider-content{
        display: block !important;
    }
    .slider-content-img{
        display: none !important;
    }
    .slider-content-img-mob{
        display: block !important;
    }

    .slider-content-text{
        width: 100% !important;
        padding: 0 !important;
        & h2 {
            text-align: center !important;
        }
    }
}

@media(max-width: 550px) {
    h2{
        display: none !important;
    }
    .header-img{
        display: none !important;

    }
    .logo{
        display: block !important;
    }
        
}


@media(max-width: 450px) {
    .header-img{
        height: 100px !important;
        }
    h1{
        font-size: 60px !important;
    }
    .contact-inner{
        padding-left: 0 !important;
    }
        
}

@media(max-width: 400px) {
}

